.alerta-stock-bajo {
    background-color: #ff6347; /* Fondo rojo */
    color: #ffffff; /* Texto blanco */
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.alerta-stock-bajo h2 {
    margin-bottom: 10px;
}