

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background-color: #fceeed; 
  color: #800020; 
  height: 100vh;
  width: 360px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 1rem 1rem 0;
}

.sidebar h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.link {
  color: #800020;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 20px;
  margin: 0.5rem 0;
  gap: 1rem;
  transition: all ease-in-out 0.2s;
  text-decoration: none;
}



.link:hover,
.link.active {
  color: #484042; 
  cursor: pointer;
  border-left: 5px solid #800020;
  background-color: #e89d9c; 
}

.link img {
  width: 30px;
}




.sidebar hr {
  border: 0;
  border-top: 7px solid #800020; 
  margin-bottom: 2px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 5px;
}

.sgi-icon {
  width: 70px; 
  height: 70px; 
  margin-right: 15px; 
  vertical-align: middle; 
}

.section {
  margin-left: 360px; 
  padding: 20px;
  overflow-y: auto;
  width: calc(100% - 360px); 
  height: 100vh;
}


