.card-perfil {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  padding-bottom: 90px; /* Aumentar el padding inferior */
  border-radius: 10px;
  text-align: center;
  color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* Aumentar la altura del componente */
}

.avatar-container {
  margin-bottom: 20px;
}

.avatar {
  width: 170px; /* Tama침o aumentado */
  height: 170px; /* Tama침o aumentado */
  border-radius: 50%;
  border: 6px solid #771e32; /* Borde m치s grueso */
}

.info-container {
  text-align: center; /* Texto centrado */
}

.info-container h2 {
  color: #f2ecee; /* Rojo vino */
  margin-bottom: 15px; /* Espaciado entre nombre y otros textos */
  font-size: 2em;
}

.info-container p {
  margin: 10px 0;
  font-size: 1.2em;
}

.attribute-name {
  color: #e29faf; /* Rojo vino para el nombre de los atributos */
  font-weight: bold; /* Texto m치s grueso */
}