.card-perfil {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  padding-bottom: 90px; 
  border-radius: 10px;
  text-align: center;
  color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

.avatar-container {
  margin-bottom: 20px;
}

.avatar {
  width: 170px; 
  height: 170px; 
  border-radius: 50%;
  border: 6px solid #771e32; 
}

.info-container {
  text-align: center; 
}

.info-container h2 {
  color: #f2ecee; 
  margin-bottom: 15px; 
  font-size: 2em;
}

.info-container p {
  margin: 10px 0;
  font-size: 1.2em;
}

.attribute-name {
  color: #e29faf; 
  font-weight: bold; 
}