.card-perfil {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 20px;
  }
  
  .avatar-container {
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #C21807; /* Rojo vino */
  }
  
  .info-container {
    text-align: left;
  }
  
  .info-container h2 {
    color: #C21807; /* Rojo vino */
  }
  
  .info-container p {
    margin: 10px 0;
  }