.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 300px; /* Reducir el ancho del contenedor modal */
    max-width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 10px; /* Reducir el espacio inferior de los grupos de formularios */
  }
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  .form-group label {
    display: block;
    margin-bottom: 3px; /* Reducir el espacio inferior de las etiquetas */
  }
  
  .form-group input {
    width: 100%;
    padding: 4px; /* Reducir el relleno de los inputs */
    box-sizing: border-box;
  }
  
  button {
    padding: 8px 12px; /* Reducir el relleno de los botones */
    margin-right: 8px; /* Reducir el margen derecho de los botones */
  }
  
  button[type="button"] {
    background-color: #f44336; /* Rojo */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }