body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.bg {
  background-image: url("../img/F_Loginn.jpeg");
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  max-width: 400px; 
  width: 90%; 
  margin: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.container h1 {
  margin-bottom: 20px;
  color: #f09586; 
  text-align: center; 
}

.input-container {
  margin-top:30px ;
  margin-bottom: 15px;
}

.input-container input {
  width: calc(50% - 12px); 
  padding: 8px; 
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  text-align: left; 
  background-color: #333;
  color: white;
}

.input-container input::placeholder {
  text-align: left; 
}

button {
  background-color: #c21807; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9e3c35; 
}