.perfil-container {
  height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-perfil-container {
  width: 50%; 
  border-radius: 16px;

}



.imagen {
  width: 30%;
  height: 50%;
  border-radius: 16px; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  margin: 140px 30px;
  margin-right: 80px;
  top: 0;
  right: 0;
}