.perfil-container {
  height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Ajusta este valor para la separación deseada desde el borde superior */
}

.card-perfil-container {
  width: 100%; 
  margin:65px 40px 40px 50px; /* Espacio entre el CardPerfil y la imagen */
}



.imagen {
  width: 40%;
  height: 60%;
  border-radius: 16px; 
  box-shadow: 1px 1px 10px #cdcdcd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  margin: 140px 30px;
  top: 0;
  right: 0;
}