.usuarios-container {
    margin: 20px;
  }
  
  .usuarios-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .usuarios-table th, .usuarios-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .usuarios-table th {
    background-color: #f2f2f2;
    color: black;
  }
  
  .usuarios-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .usuarios-table tr:hover {
    background-color: #ddd;
  }