.usuarios-container {
  margin: 20px;
}

.usuarios-container h2 {
  margin-bottom: 20px;
  font-size: 30px;
}
.usuarios-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.usuarios-header button {
  margin-right: 10px;
}

.busqueda-container {
  display: flex;
  align-items: center;
}

.busqueda-dni {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 3px solid #d2b3b3;
}
.detalle{
  background-color: #2b6e10;
}
.detalle:hover{
  background-color: #496b3c;
}
.busqueda-button {
  padding: 5px;
  font-size: 16px;
  background-color: #e89d9c;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 5px;
}


.button-actualizar{
  background-color: #1550ce;
}
.button-actualizar:hover{
  background-color: #183f92;
}
.lupa-icon {
  width: 16px; /* Ajusta el tamaño según sea necesario */
  height: 16px; /* Ajusta el tamaño según sea necesario */
}

.busqueda-button:hover {
  background-color: #f0f0f0;
}

.usuarios-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.filtro-rol-container .barrafiltro{
  border-radius: 2px;
  background-color: #e89d9c;
  border: none;
  font-size: 15px;
  left: 0;
  padding: 1px;
  z-index: 1;
}

.usuarios-table th, .usuarios-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.usuarios-table th {
  background-color: #f2f2f2;
  color: black;
}

.usuarios-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.usuarios-table tr:hover {
  background-color: #ddd;
}