body, html,#root {
    margin: 0;
    padding: 0;
    height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden; 
    background-color: #e7d2d2; 
  }
  
  .main {
    width: 100%;
    height: 100%;
    display: flex;
}
  .section {
    flex: 1;
    width: 100%;
    height: 100%;
}




.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.p-1 {
  padding: 0.1rem;
  font-size:20px ;
}


  * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}