body, html,#root {
    margin: 0;
    padding: 0;
    height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Evita el desplazamiento */
    background-color: #e7d2d2; /* Cambia este valor al color que desees */
  }
  
   .main{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .section {
    flex: 1;
    width: 100%;
    height: 100%;
}

  * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}