body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evita el desplazamiento */
    background-color: #e7d2d2; /* Cambia este valor al color que desees */
  }
  
  #root {
    height: 100%;
    width: 100%;
  }
